---

---

<div class="blog-callout">
  <p>
    Subscribe to my Substack blog below for a fresh take on education each week!
  </p>

  <iframe
    src="https://markgodi.substack.com/embed"
    style="width: 100%; height: 320px;"
    title="Subscribe to Mark Godi's Substack Blog and keep up with the latest slowbuilt insights and updates!"
  ></iframe>

  <ul class="links">
    <li>
      <a
        class="yellow"
        href="https://substack.com/@markgodi?r=7atdwj&utm_medium=ios&utm_source=profile&shareImageVariant=light"
        >Visit my Substack Blog
      </a>
    </li>
  </ul>
</div>

<style>
  .blog-callout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
    line-height: 1.2;
    margin-block: 0 1.25rem;
    color: #244057;
  }

  iframe {
    border: 1px solid #ddd;
    margin-block: 2rem 0;
  }

  .links {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    padding: 0;
    list-style: none;
    padding: 0;
    justify-content: center;
    flex-direction: column;
  }

  @media (min-width: 80ch) {
    .links {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  .links a {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 0.02rem;
    font-size: 1rem;
    transition: color 0.2s;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    min-width: 20rem;
    transition: all 0.3s;
    margin-top: 0rem;
    background-color: #e3ba3f;
    color: #244057;
  }
  @media (min-width: 80ch) {
    .links a {
      padding: 1rem 2rem;
      min-width: 15rem;
      text-align: center;
    }
  }

  .links a:hover {
    background-color: #e3ba3f;
    background-color: #244057;
    color: white;
    transition: all 0.3s;
  }

  img {
    border-radius: 9000px 9000px;
    /* border: 0.25rem solid #ddd; */
    border-top: 0;
    margin-block: 4rem 0;
    width: 100%;
    max-width: 20rem;
    height: auto;
  }
</style>
