---
import Container from "../layouts/Container.astro";
---

<Container bg="white" id="blog" spacing="small">
  <div class="blog-callout">
    <p>
      Subscribe to my Substack blog below for a fresh take on education each
      week!
    </p>

    <iframe
      src="https://markgodi.substack.com/embed"
      style="width: 100%; height: 320px;"
      title="Subscribe to Mark Godi's Substack Blog and keep up with the latest slowbuilt insights and updates!"
    ></iframe>

    <ul class="links">
      <li>
        <a class="yellow" target="_blank" href="https://substack.com/@markgodi"
          >Visit my Substack Blog
        </a>
      </li>
    </ul>
  </div>
</Container>
<style>
  .blog-callout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  p {
    max-width: 70ch;
    margin: 0 auto;
    text-align: center;
  }

  iframe {
    border: 1px solid #ddd;
    margin-block: 2rem 0;
  }

  .links {
    display: flex;
    gap: 2rem;
    margin: 2rem auto;
    padding: 0;
    list-style: none;
    padding: 0;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .links ul {
    width: 100%;
    justify-content: center;
  }

  @media (min-width: 80ch) {
    .links {
      flex-direction: row;
      justify-content: center;
    }
    .links ul {
      width: unset;
    }
  }

  .links a {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 0.02rem;
    font-size: 1rem;
    transition: color 0.2s;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    min-width: 100%;
    transition: all 0.3s;
    margin-top: 0rem;
    background-color: #ebc975;
    color: #244057;
  }
  @media (min-width: 80ch) {
    .links a {
      padding: 1rem 2rem;
      min-width: 16rem;
      text-align: center;
    }
  }

  .links a:hover {
    background-color: #e3ba3f;
    background-color: #244057;
    color: white;
    transition: all 0.3s;
  }

  img {
    border-radius: 9000px 9000px;
    border-top: 0;
    margin-block: 4rem 0;
    width: 100%;
    max-width: 20rem;
    height: auto;
  }
</style>
