---
import { Image } from "astro:assets";

const {
  src,
  alt = "Decorative image of Preston the Tortoise",
  ...attr
} = Astro.props;
---

<div class:list={["decor-image-wrapper", attr.class]}>
  <Image
    class="decor-image"
    src={src}
    alt={alt}
    layout="constrained"
    format="webp"
    {...attr}
  />
</div>

<style>
  .decor-image-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto clamp(4rem, 8vw, 6rem);
  }
  .decor-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
  }

  .preston-footer-logo {
    margin-block-end: 0.5rem;
  }

  @media (max-width: 120ch) {
    .decor-image-wrapper {
      max-width: 70%;
    }
  }
</style>
