---

---

<footer class="blue small">
  <div class="container">
    <p>Copyright © 2025 Mark Godi</p>
  </div>
</footer>

<style>
  footer {
    text-align: center;
  }

  p {
    font-size: 0.9rem;
    opacity: 0.7;
  }
</style>
