---
import Navigation from "./Navigation.astro";
import { Image } from "astro:assets";

import logo from "../assets/images/website-logo.png";
---

<div id="home"></div>

<header class="blue shadow">
  <div class="container">
    <div class="branding">
      <a href="#home">
        <Image
          src={logo}
          alt="Mark Godi website Logo"
          class="logo"
          width={26}
          height={26}
          loading="eager"
        />
        <div>MarkGodi<em>.com</em></div>
      </a>
    </div>

    <Navigation />
  </div>
</header>

<style>
  header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-filter: blur(2rem);
  }
  @media (max-width: 120ch) {
    header.blue {
      background: rgba(032, 048, 061, 1);
    }
  }

  header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-block: 1rem;
  }

  .branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: rgba(251, 247, 236, 1);
    font-family: var(--font-garamond);
    font-size: clamp(1.25rem, 4vw, 1.75rem);
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }

  .branding .logo {
    border-radius: 900ch;
    background-color: white;
    padding: 0.2rem;
    display: flex;
    width: 2.5rem;
    height: auto;
    border: 4px solid #ebc975;
  }

  .branding a {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
  }

  .branding em {
    font-size: 1.5rem;
    opacity: 0.75;
    margin-inline-start: 0.15rem;
  }
</style>
