---
import Container from "../layouts/Container.astro";
import { Image } from "astro:assets";
import profilePic from "../assets/images/profile_pic.jpg";
---

<Container bg="white" spacing="extra" id="intro">
  <hgroup class="visually-hidden">
    <h1>Welcome to MarkGodi.com</h1>
    <p>Teacher | Author | Speaker | WASC Coordinator</p>
  </hgroup>

  <div class="columns" id="introduction">
    <div class="image">
      <div class="profile-pic-wrapper yellow">
        <Image
          src={profilePic}
          alt="Mark Godi profile picture"
          fetchpriority="high"
          class="profile-pic"
          width={336}
          height={336}
          layout="constrained"
          format="webp"
          loading="eager"
        />
      </div>
    </div>
    <div class="intro">
      <h2>Hi, I'm Mark!</h2>
      <p class="lead">
        Teacher, Author, Speaker, WASC Coordinator...<br
          class="keep-break"
        />and the person called when accreditation is on the line<br /> and uncertainty
        is winning.
      </p>

      <hr />

      <p>
        I offer workshops, keynotes, and coaching for schools, districts, and
        organizations. My work is focused on helping educators and leaders build
        sustainable, student-centered learning environments that prioritize
        depth, relationships, and real growth over hustle culture.
      </p>
      <p>
        If you’re ready to bring workshops, keynotes, or coaching to your campus
        or district, let’s talk.
      </p>
    </div>
  </div>
</Container>
<style>
  .columns {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    text-align: center;
    margin-inline: auto;
    margin-block: 3rem 0rem;
  }

  br:not(.keep-break) {
    display: none;
  }

  @media (min-width: 120ch) {
    .columns {
      flex-direction: row;
      align-items: flex-start;
      text-align: left;
      gap: 3rem;
      margin-block: 5.5rem 2rem;
    }

    br:not(.keep-break) {
      display: block;
    }
  }

  .intro {
    flex: 1;
  }

  .intro h2 {
    font-size: clamp(4rem, 6vw, 6rem);
    line-height: 1.2;
    margin-block: 0 2rem;
    color: #244057;
    text-align: center;
  }

  @media (min-width: 120ch) {
    .intro h2 {
      text-align: start;
      margin-block: 5rem 2rem;
    }
  }

  .intro p.lead {
    font-size: clamp(1.5rem, 3vw, 2rem);
    line-height: 1.3;
    margin-block: 0 2rem;
    font-family: var(--font-garamond);
    text-align: center;
  }

  @media (min-width: 120ch) {
    .intro p.lead {
      text-align: start;
      margin-block: 0 3rem;
    }
  }

  .intro p:not(.lead) {
    max-width: 70ch;
  }

  .profile-pic-wrapper {
    border-radius: 9000px;
    padding: 0.55rem;
    display: inline-flex;
  }

  .profile-pic {
    width: clamp(13rem, 20vw, 21rem);
    height: clamp(13rem, 20vw, 21rem);
    border-radius: 9000px;
    object-fit: cover;
  }

  @media (min-width: 80ch) {
    .profile-pic {
      width: clamp(13rem, 20vw, 21rem);
      height: clamp(13rem, 20vw, 21rem);
    }
  }

  hr {
    border-color: #ebc975;
  }
</style>
