---
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://markgodi.substack.com" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#244057" />
    <Font cssVariable="--font-garamond" preload />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Mark Godi's a teacher, author, and speaker focused on sustainable, student-centered learning environments. Author of 'Slowbuilt: Education, Growth, and Grace'."
    />
    <title>Mark Godi - Teacher, Author, Speaker, WASC Coordinator</title>
    <!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
  </head>
  <body>
    <slot />
  </body>
</html>
